{% extends 'tye/base.html'%}
{% block content %}
    <h1>The Young Expressionists</h1>
    <p> The Young Expressionists was established in March 2020 with the sole mission of inspiring others. We originated as a group of students from Valley Christian High School, but have expanded to include instructors from across the country. Our passionate high school instructors host and teach classes on their subjects of interest in hopes of sharing their passions with young students. 100% of our profits will be given back to the community. </p>
{% endblock content %}