
{% extends 'tye/base.html'%}
{% block content %}
    <h1>Our Fall Class List (Sep 21 - Nov 29, 2020)</h1>
  
    {% for course in courses %}
        <div class="content-section">
            <div class="media">
                <img style="object-fit: cover" src="{{ course.image.url }}">
                <div class="media-body">
                    <h2>{{ course.name }}</h2>
                    <p>Instructor: {{ course.instructor }} 
                    <p>Schedule: {{ course.date }} at {{ course.time}}</p>
                    <p>Age Group: {{ course.age }}</p>
                    <p>Prerequsites: {{ course.prerequisite }}</p>
                    <p>Materials: {{ course.material }}</p>
                    <p>Description: {{ course.description }}
                    <p>Price: ${{ course.price }}
                    <p><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ object.get_add_to_cart_url }}">Enroll</a></p>
                </div>
            </div>
        </div>          
    {% endfor %}
{% endblock content %}

