{% extends 'tye/base.html'%}
{% block content %}
     <h1>Instructors</h1>
        {% for instructor in instructors %}
            {% if instructor.active_status is True %}
                <div class="content-section">
                    <div class="media">
                        <img class="rounded-circle account-img" src="{{ instructor.image.url }}">
                            <div class="media-body">
                                <h2 class="account-heading">{{ instructor.name }}</h2>
                                {% for course in instructor.course_set.all %}
                                <hr>
                                <p> 
                                    {{ course.name }} ,  
                                </p>
                                {% endfor %}
                                <p class="text-secondary">{{ instructor.bio }}</p>
                            </div>
                    </div>
                </div>  
            {% endif %}
                
        {% endfor %}
             
{% endblock content %}
