{% extends "tye/base.html" %}
{% block content %}   
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h4>My Students</h4>
            </div>
                {% for student in students %}
                    {% if student.parent == user %}
                       <a class="nav-item nav-link" href="{% url 'student-detail' student.id %}">{{ student.name }}</a> 
                    {% endif %}   
                {% endfor %}          
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'student-create'%}">Add Student</a>       
            </div>
        </div>
    </article>
    <div>
        <a class="nav-item nav-link" href="{% url 'profile' %}">Back to Account </a>
    </div>
        
{% endblock content %}