{% extends "tye/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h3><a class="mr-2" href="{% url 'profile' %}">{{ object.parent }}</a></h3> 
       
      </div>
      <h4 class="article-title">{{ object.name }}</h4>
        <div class="form-group">
            <p>Email: {{ object.email }}</p>
            <p>School: {{ object.school }}</p>
            <p>State: {{ object.state }}</p>
            <p>Country: {{ object.country }}</p>
            <p>Grade: {{ object.grade}}</p>
        </div>
        {% if object.parent == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'student-update' object.id %}">Update</a>
            
          </div>
        {% endif %}

    
    </div>
  </article>
  <div>
        <a class="nav-item nav-link" href="{% url 'tye-student' %}">Back to Students </a>
  </div>
{% endblock content %}
