{% extends "tye/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <h4><a class="mr-2" >Student Profile</a></h4> 
      </div>
      {% if object.parent == user %}
        <div class="form-group">
            <p class="article-title">Student Name: {{ object.name }}</p>
            <p>Email: {{ object.email }}</p>
            <p>School: {{ object.school }}</p>
            <p>State: {{ object.state }}</p>
            <p>Country: {{ object.country }}</p>
            <p>Grade: {{ object.grade}}</p>
        </div>
        
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'student-update' object.id %}">Update</a>
        </div>
      {% else %}
        <p><a class="btn btn-outline-danger" >You don't have this student</a></p> 
      {% endif %}

    
    </div>
  </article>
  <div>
        <a class="nav-item nav-link" href="{% url 'tye-student' %}">Back to Students </a>
  </div>
{% endblock content %}
